<template>
    <button class="widget-button with-tip" id="single__add-to-fav" @click.prevent="toggleEvent($event)" :class="liked.className" :data-tip-content="tooltip_message"><i class="fa fa-star-o"></i></button>
</template>

<script>
  export default {
    name: "single-item-favourites-button",
    props: {
      post_id: null,
      logged_user: false,
      is_in_favourites: false,
    },
    data: function () {
      return {
        tooltip_message: 'Добавить в избранное',
        liked: {
          className: '',
          value: false,
        },
      }
    },
    methods: {
      toggleEvent(e) {
        if (this.liked.value) {
          this.removeFromFavourites(e);
        } else {
          this.addToFavourites(e);
        }
      },
      addToFavourites(event) {
        if (!this.logged_user) {
          return toastr.error('Необходимо <a href="/register">зарегистрироваться</a> или <a href="/login">выполнить вход</a>', 'Ошибка');
        }
        axios.post('/profile/posts/add-to-favourites', {post_id: this.post_id}).then(response => {
          console.log(response);
          this.liked.value = true;
          this.liked.className = 'liked';
          this.tooltip_message = 'Удалить из избранного';
          $('#single__add-to-fav').find('.tip-content').text(this.tooltip_message);
        }, errors => {
          toastr.error(errors.response.message, 'Ошибка');
          console.log(errors.response);
        });
      },
      removeFromFavourites(event) {
        if (!this.logged_user) {
          return toastr.error('Необходимо <a href="/register">зарегистрироваться</a> или <a href="/login">выполнить вход</a>', 'Ошибка');
        }
        axios.delete('/profile/posts/remove-from-favourites', {params: {post_id: this.post_id}}).then(response => {
          console.log(response);
          this.liked.value = false;
          this.liked.className = '';
          this.tooltip_message = 'Добавить в избранное';
          $('#single__add-to-fav').find('.tip-content').text(this.tooltip_message);
        }, errors => {
          console.log(errors);
        });
      }
    },
    created () {
      if (this.is_in_favourites) {
        this.liked.value = true;
        this.liked.className = 'liked';
        this.tooltip_message = 'Удалить из избранного';
      }
    },
    mounted () {
    }
  }
</script>

<style scoped>

</style>