<template>
    <div class="form-group">
        <label for="city_id">Город</label>
        <select class="chosen-select-no-single" id="city_id" name="city_id" data-placeholder="Выберите город">
            <option label="blank"></option>
        </select>
    </div>
</template>

<script>
    export default {
        props: {
          region_id: null
        },
        data: function () {
          return {

          }
        },
        mounted() {
            console.log(this.region_id);
        }
    }
</script>
