<template>
    <gallery :uploader="uploader" slot="'Перетащите файлы сюда'"></gallery>
</template>

<script>
  import FineUploaderTraditional from 'fine-uploader-wrappers'
  import Gallery from 'vue-fineuploader/gallery'
  export default {
    name: "post-image-upload",
    components: { Gallery },
    data () {
      const uploader = new FineUploaderTraditional({
        options: {
          deleteFile: {
            enabled: true,
            endpoint: 'my/upload/endpoint'
          },
          request: {
            endpoint: 'my/upload/endpoint'
          }
        },
        methods: {
          addInitialFiles() {}
        }
      });

      return {
        uploader
      }
    }
  }
</script>

<style scoped>

</style>