<template>
    <div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="breed_type_id">Вид</label>
                <select class="" id="breed_type_id" name="breed_type_id" v-model="post.breed_type_id" data-placeholder="Выберите вид">
                    <option label="Выберите вид">Выберите вид</option>
                    <option  v-for="breed_type in breed_types" :value="breed_type.id" >{{ breed_type.title }}</option>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="breed_id">Порода</label>
                <select class="" id="breed_id" name="breed_id" v-model="post.breed_id" data-placeholder="Выберите породу">
                    <option label="Выберите породу">Выберите породу</option>
                    <option  v-for="breed in breeds" :value="breed.id" >{{ breed.title }}</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'breeds-and-breeds-type',
        props: {
          post: {
            breed_type_id: 0,
            breed_id: 0,
          },
          breed_types: null,
        },
        data: function () {
          return {
            breeds: [],
            selectedBreed: 0,
          }
        },
        methods: {
          getBreedsByType(breed_type_id) {
            if (breed_type_id === undefined) {
              breed_type_id = this.selectedBreed;
            }
            if (!breed_type_id) {
              return false;
            }
            this.breeds = [];
            axios.get('/breeds', {params: {breed_type_id: breed_type_id}})
              .then(response => {
                if (response.data.data.breeds) {
                  this.breeds = response.data.data.breeds;
                }
              }, errors => {
                console.log(errors);
              });
          },
        },
        created () {},
        mounted() {
          let vm = this;
          if (this.post.breed_type_id) {
            vm.getBreedsByType(this.post.breed_type_id);
          }
          $('#breed_type_id').on('change', function () {
            vm.selectedBreed = $(this).val();
            vm.getBreedsByType();
          });
        }
    }
</script>
