<template>
    <!-- Row -->
    <div>
        <div class="col-md-4">
            <div class="form-group">
                <!--<label for="country_id">Страна</label> -->
                <select class="" id="country_id" name="country_id" v-model="post.country_id" data-placeholder="Выберите страну">
                    <option value="0">Выберите страну</option>
                    <option  v-for="country in countries" :value="country.id" >{{ country.name }}</option>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <!--<label for="region_id">Регион</label> -->
                <select class="" id="region_id" name="region_id" v-model="post.region_id" data-placeholder="Выберите регион">
                    <option value="0">Выберите регион</option>
                    <option  v-for="region in regions" :value="region.id" >{{ region.name }}</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" style="display: none;" name="city_id" :value="selectedCity">
                <!--<label for="city_id">Город</label>-->
                <v-select name="city" :debounce="500" :on-change="setCityId"
                          :on-search="getCitiesSearch" v-model="selectedCityObject" :options="cities" placeholder="Выберите город">
                    <span slot="no-options">Ничего не найдено</span>
                </v-select>

                <!--<select class="" id="city_id" name="city_id" v-model="post.city_id" data-placeholder="Выберите город">-->
                    <!--<option value="0">Выберите город</option>-->
                    <!--<input type="text" name="q" placeholder="Начните вводить название города">-->
                    <!--<option  v-for="city in cities" :value="city.id" >{{ city.name + (city.area ? ', ' + city.area : '') }}</option>-->
                <!--</select>-->
            </div>
        </div>

    </div>
    <!-- Row / End -->
</template>

<script>
    import vSelect from "vue-select"
    export default {
      components: {vSelect},
      name: 'index-country-region-city',
        props: {
          post: {
            country_id: 0,
            region_id: 0,
            city_id: 0,
          },
          countries: null,
        },
        data: function () {
          return {
            regions: [],
            cities: [],
            selectedCountry: 0,
            selectedRegion: 0,
            selectedCity: 0,
            selectedCityObject: {
              value: 0,
              label: 'Выберите город',
            },
          }
        },
        watch: {
          // selectedCity: function () {
          //   this.post.city_id = this.selectedCity
          // }
        },
        methods: {
          setCityId (val) {
            if (val) {
              // this.post.city_id = val.id;
              if (val.name && val.id) {
                this.selectedCity = val.id;
                this.selectedCityObject.label = val.name;
                this.selectedCityObject.value = val.id;
              }
            }
          },
          getCitiesSearch(search, loading) {
            this.cities = [];
            this.selectedCity = 0;
            if (search.length < 2) {
              return false;
            }
            axios.get('/regions/cities', {params: {search: search, region_id: this.selectedRegion}})
              .then(response => {
                if (response.data.data.cities) {
                  this.cities = response.data.data.cities;
                }
              }, errors => {
                console.log(errors);
              });
          },
          getRegionsByCountry(country_id) {
            if (country_id === undefined) {
              country_id = this.selectedCountry;
            }
            if (!country_id) {
              return false;
            }
            this.regions = [];
            this.cities = [];
            this.selectedCity = 0;
            axios.get('/countries/regions', {params: {country_id: country_id}})
              .then(response => {
                if (response.data.data.regions) {
                  this.regions = response.data.data.regions;
                  if (this.post.region_id) {
                    this.getCitiesByRegion(this.post.region_id);
                  }
                }
              }, errors => {
                console.log(errors);
              });
          },
          getCitiesByRegion(region_id, search) {
            let vm = this;
            if (region_id === undefined) {
              region_id = this.selectedRegion;
            }
            if (!region_id) {
              return false;
            }
            this.cities = [];
            this.selectedCity = 0;
            axios.get('/regions/cities', {params: {region_id: region_id}})
              .then(response => {
                if (response.data.data.cities) {
                  this.cities = response.data.data.cities;
                  let selected = null;
                  if (this.post.city_id && this.cities.length) {
                    _.forEach(this.cities, function (value, key) {
                      if (value.id == vm.post.city_id) {
                        selected = {
                          name: value.name,
                          id: value.id,
                        };
                      }
                    });
                    this.selectedCity = this.post.city_id;
                  }
                  console.log(selected);
                  if (selected) {
                    vm.selectedCityObject.label = selected.name;
                    vm.selectedCityObject.value = selected.id;
                  } else {
                    this.getOneCityById();
                  }
                }
              }, errors => {
                console.log(errors);
              });
          },
          getOneCityById(id) {
            let vm = this;
            if (id === undefined) {
              id = this.post.city_id;
            }
            if (!id) {
              return false;
            }
            axios.get('/cities/'+id).then(response => {
              console.log(response);
              if (response.data.city) {
                this.cities.push(response.data.city);
                vm.selectedCityObject.label = response.data.city.name;
                vm.selectedCityObject.value = response.data.city.id;
              }
            })
          }
        },
        created () {
          // this.selectedCountry = this.post.country_id;
          // this.selectedRegion = this.post.region_id;
          // this.selectedCity = this.post.city_id;
          console.log(this.post);
          this.getRegionsByCountry(this.post.country_id);
        },
        mounted() {
          let vm = this;
          $('#country_id').on('change', function () {
            vm.selectedCountry = $(this).val();
            vm.getRegionsByCountry();
            vm.post.city_id = 0;
            vm.post.region_id = 0;
            vm.selectedCityObject.label = 'Выберите город';
            vm.selectedCityObject.value = 0;
          });
          $('#region_id').on('change', function () {
            vm.selectedRegion = $(this).val();
            vm.getCitiesByRegion();
            vm.post.city_id = 0;
            vm.selectedCityObject.label = 'Выберите город';
            vm.selectedCityObject.value = 0;
          });
        },
    }
</script>
<style>
    .v-select, .v-select * {
        box-sizing: border-box;
        background-color: #fcfcfc;
    }
    .v-select .dropdown-menu {
        display:block;
    }
    .v-select input[type=search], .v-select input[type=search]:focus {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        line-height: 1.42857143;
        font-size: 1em;
        height: 34px;
        display: inline-block;
        border: none;
        outline: none;
        margin: 0;
        padding: 7px .5em;
        width: 10em;
        max-width: 100%;
        background: none;
        position: relative;
        box-shadow: none;
        float: left;
        clear: none;
    }
    .v-select .open-indicator {
        position: absolute;
        bottom: 11px;
        right: 10px;
        cursor: pointer;
        pointer-events: all;
        opacity: 1;
        height: 20px;
    }
    .v-select.open .open-indicator {
        bottom: 6px;
    }
</style>