<template>
    <div>
        <div class="col-md-3">
            <div class="form-group checkboxes">
                <input id="check-13" type="checkbox" name="is_for_sale" v-model="is_for_sale" >
                <label for="check-13" class="is_for_sale">Для покупки/продажи?</label>
            </div>
        </div>
        <div class="col-md-4" v-if="is_for_sale">
            <div class="form-group">
                <!--<label for="category_id">Вид <span class="required">*</span></label>-->
                <select class="form-control" id="category_id" name="category_id" @change="changeCategory" v-model="selectedCategoryId"
                        data-placeholder="Выберите вид">
                    <option value="0">Выберите категорию *</option>
                    <option v-for="category in cats" :value="category.id">{{ category.title }}</option>
                </select>
            </div>
        </div>

        <div class="col-md-2" v-if="is_for_sale && show_price_input">
            <div class="form-group">
                <input type="text" v-model="post.price" class="form-control" name="price" placeholder="Цена">
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'category-and-price',
    props: {
      categories: {},
      post: {},
    },
    data: function () {
      return {
        selectedCategoryId: 0,
        cats: [],
        selectedCategoryObject: {},
        is_for_sale: false,
      }
    },
    methods: {
      changeCategory (event) {
        this.selectedCategoryId = event.target.value;
        if (this.selectedCategoryId == 0) {
          this.selectedCategoryObject = {};
          return false;
        }
        this.getCategoryFromCategoriesArray();
      },
      getCategoryFromCategoriesArray () {
        let vm = this;
        _.forEach(this.categories, function (value, key) {
          if (value.id == vm.selectedCategoryId) {
            vm.is_for_sale = true;
            vm.selectedCategoryObject = value;
          }
        });
      }
    },
    mounted() {
      let vm = this;
      this.cats = this.categories;
      // if (this.post.category_id) {
      //   vm.getBreedsByType(this.post.category_id);
      // }
    },
    created() {
      if (this.post.category_id) {
        this.selectedCategoryId = this.post.category_id;
        this.getCategoryFromCategoriesArray();
      }
    },
    computed: {
      show_price_input: function () {
        let response = false;
        if (this.selectedCategoryObject.id && this.selectedCategoryObject.is_for_sale == 1) {
          response = true;
        }

        return response;
      },
    }
  }
</script>

<style scoped>
    .is_for_sale {
        margin-top: 15px;
    }
</style>