<template>
    <div>
        <div class="col-md-2">
            <div class="form-group">
                <!--<label for="breed_type_id">Вид <span class="required">*</span></label>-->
                <select class="" id="breed_type_id" name="breed_type_id" v-model="post.breed_type_id" data-placeholder="Выберите вид">
                    <option value="0" >Выберите вид *</option>
                    <option  v-for="breed_type in breed_types" :value="breed_type.id" >{{ breed_type.title }}</option>
                </select>
            </div>
        </div>

        <div class="col-md-3" v-show="show_breed">
            <div class="form-group">
                <!--<label for="breed_id">Порода <span class="required">*</span></label>-->
                <select class="" id="breed_id" name="breed_id" v-model="post.breed_id" data-placeholder="Порода" required>
                    <option value="0" disabled>Порода *</option>
                    <option  v-for="breed in breeds" :value="breed.id" >{{ breed.title }}</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'breeds-and-breeds-type',
        props: {
          post: {
            breed_type_id: 0,
            breed_id: 0,
          },
          breed_types: null,
        },
        data: function () {
          return {
            breeds: [],
            selectedBreed: 0,
            show_breed: false,
          }
        },
        methods: {
          getBreedsByType(breed_type_id) {
            if (breed_type_id === undefined) {
              breed_type_id = this.selectedBreed;
            }
            if (!breed_type_id) {
              return false;
            }
            this.breeds = [];
            axios.get('/breeds', {params: {breed_type_id: breed_type_id}})
              .then(response => {
                if (response.data.data.breeds) {
                  this.breeds = response.data.data.breeds;
                }
              }, errors => {
                console.log(errors);
              });
          },
        },
        created () {
          if (!this.post.breed_type_id) {
            this.post.breed_type_id = 0;
          } else {
            this.selectedBreed = this.post.breed_type_id;
          }
          if (!this.post.breed_id) {
            this.post.breed_id = 0;
          }

        },
        mounted() {
          let vm = this;
          if (this.post.breed_type_id) {
            vm.getBreedsByType(this.post.breed_type_id);
          }
          $('#breed_type_id').on('change', function () {
            vm.selectedBreed = $(this).val();
            vm.post.breed_id = 0;
            vm.getBreedsByType();
          });
        },
      watch: {
        selectedBreed: function (val) {
          if (this.selectedBreed != 0) {
            this.show_breed = true;
          } else {
            this.show_breed = false;
          }
        }
      }
    }
</script>
