// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~toastr/toastr.scss";
@import "~bootstrap-fileinput/scss/fileinput.scss";
.krajee-default .file-caption-info, .krajee-default .file-size-info {
  height: 20px;
}
.is-main-photo {
  border-color: #ff0000;
}
.krajee-default.file-preview-frame.is-main-photo {
  border-color: #ff0000;
}