<template>
    <div class="c-login-form">
        <form @submit.prevent="attemptLogin()">
            <div class="form-group">
                <label class="form-control-label" for="email">Email</label>
                <input type="text" class="form-control" v-model="user.email" name="email" id="email" placeholder="Введите свой Email">
                <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="password">Пароль</label>
                <input type="password" class="form-control" v-model="user.password" name="password" id="password" placeholder="Введите свой пароль">
                <div class="invalid-feedback"></div>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="remember"><input type="checkbox" class="form-check-input" v-model="user.remember" id="remember">Запомнить меня</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Вход</button>
                <a href="/password/reset">Забыли пароль?</a>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
      data: () => ({
        user: {
          email: '',
          password: '',
          remember: false,
        },
        errors: []
      }),
      computed: {
        emptyErrors () {
          return _.isEmpty(this.errors);
        }
      },
      methods: {
        attemptLogin () {
          this.errors = [];
          axios.post('/login', this.user).then(response => {
            console.log(response);
          }).catch(errors => {
            this.errors = errors.response.data.errors;
            $('.c-login-form [name]').removeClass('is-invalid');
            for (let error in this.errors) {
              for (let i = 0; i <= this.errors[error].length; i++) {
                if (this.errors[error][i] !== undefined) {
                  $('.c-login-form [name='+error+']').addClass('is-invalid');
                  $('.c-login-form [name='+error+']').next('.invalid-feedback').text(this.errors[error][i]);
                }
              }
            }
          });
        }
      }
    }
</script>