<style scoped>

</style>
<template>
    <div>
        <!-- Button trigger modal -->
        <a href="login" class="nav-link" data-toggle="modal" data-target="#modelId">Вход</a>
        <!-- Modal -->
        <div class="modal" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <login-form></login-form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import LoginForm from './LoginForm.vue';
    export default {
      components: { LoginForm },
    }
</script>